@charset "ISO-8859-1";

button
{
	border-radius: 5px;
    border: 3px solid #0088b3;
    background-color:#0088b3;
    color: white;
	box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.4);
    transition: all 0.5s;
}

button:hover
{
	box-shadow: 0px 45px 20px -30px rgba(0,0,0,0.2);
	  transform: translateY(-5px);
}

.bordo
{
	border-radius: 5px;
    border: 3px ;
}

#submit
{
	border-radius: 5px;
    border: 3px solid #0088b3;
    background-color:#0088b3;
    color: white;
}