@charset "ISO-8859-1";

body{
	background-color:#e6e6fa;
}

.btn-menu{
	display:none;
}

.card-img-top
{
	border-radius: 5px;
}

header{
display: flex;
background-color: #0088b3;
margin: -10px;
height:100px;
text-align:center;
}


.sposta{
	display: inline-block;
	text-align:right;	
}


div.logRec{
	text-decoration:none;
	text-align:right;
}


.link{
	color:white;
}


.link:hover{
	color:black;
}


nav{
	margin:10px;
	display:inline-block;
	background-color:#e6e6fa;
	width:100%; 
	text-align:center;
}

nav ul{
	border-radius: 5px;
	list-style-type:none;
	margin:0;
	padding:0;
	border-radius:5px;
}
nav li a{
	border-radius: 5px;
	text-decoration:none;
	color:black;
	padding:15px;
	border-radius:5px;
}

nav li a:hover{
	color:white;
	border-radius: 5px;
}

nav li{
	border-radius: 5px;
	display: inline-table;
	padding: 15 px;
}

nav li:hover  {
	border-radius: 5px;
	background-color:#0088b3;
	color:white;
	text-decoration:none;
	text-align:left;
	
}

.dropdown-content a:hover{
	background-color:#0088b3;
	color:white;
	text-decoration:none;
	border-radius:5px;
}

.dropdown-content{
	border-radius:5px;
	background-color:#e6e6fa;
	position:absolute;
	width:auto;
}

.dropdown:hover
{
	border-radius:5px;
}

.dropdown:hover .dropdown-content{
	display:inline;
	border-radius: 5px;
}


.dropdown{
	padding:12px 16px;
	border-radius:5px;
}


.dropdown-content a{
	display: none;
	padding: 15px;
	border-radius: 5px;
}

#profilo{display:none;}

nav li:hover .dropdown-content a{
	display:block;
	border-radius:5px;
}


#carta{
	background-color: white;
	width:18rem;
	border-style:solid; 
	border-color:white;
	border-width:3px;
	border-radius: 10px;
}


.tabellaProdotti
{
	width: 100%;
	margin-right:1px;
    border-collapse: collapse;
    border-spacing: 10px;

}

.tabellaProdotti td, .tabellaProdotti th{
margin:4.7px;
display:inline-block;	
}

.tabellaProdCarrello
{position:left;
	width:50%;
	height:auto;
	margin-left:25%;
	margin-right:25%;
border-collapse: collapse;


}

.tabellaProdCarrello td, .tabellaProdCarrello th{
border:1px solid Purple;
display:inline-block;	

}
.totProdotti{
text-align:center;
}
.bordinoCarrello{
	position:right;
	width:50%;
	
}
.divQuantita{
	text-align:right;
}
.tabellaRecensioni{
	width:50%;
	margin-left:25%;
	margin-right:25%;
	
}

.recensioneDiv{
width: 100%;
	
}

.fieldReg{
width:55%;
margin-left:auto;
margin-right:auto;
background-color:white;
border-radius:10px;
border:none;
}
