@charset "ISO-8859-1";
.btn-menu{
	display:none;
}
header{
display: flex;
background-color: #0088b3;
width:100%;
height:auto;
text-align:center;

}

div.logRec{
	
	text-decoration:none;
	
	text-align:right;
}
.link{
	color:white;
	
}
.link:hover{
	color:black;
}
nav{

	display:inline-block;
	background-color:Grey;
	color:white;
	text-align:center;
	width:100%; 
	
}

nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
	
}
nav li a{
	text-decoration:none;
	color:white;
	padding:15px;
}

nav li{
	
	display: inline-table;
	
	padding: 15 px;
}

nav li:hover  {
	
	background-color:Pink;
	color:red;
	text-decoration:none;
	text-align:left;
	
}

.dropdown-content a:hover{
	background-color:Pink;
	color:red;
	text-decoration:none;
	
	
}

.dropdown-content{
	
	background-color:Purple;

}
.dropdown:hover .dropdown-content{
	display:inline;
}
.dropdown{
	padding:12px 16px;
}


.dropdown-content a{
	display: none;
	padding: 15px;
}


nav li:hover .dropdown-content a{
	display:block
}


#carta{
	width:18rem;
	border-style:solid; 
	border-color:#CCCCCC;
	border-width:3px;
	border-radius: 5px;
    border: 3px solid #0088b3;
}


.tabellaProdotti
{
	width: 100%;
border-collapse: collapse;

}

.tabellaProdotti td, .tabellaProdotti th{
margin-left:10%;
border:1px solid #ddd;
display:inline-block;	
}
