@charset "ISO-8859-1";
@media screen and (max-width:1024px){
	header{
display:flex;
background-color:#0088b3;
}

.tabellaProdotti
{
	margin-left:50px;
}

.tabellaProdotti td, .tabellaProdotti th{
	
margin: 5px;
display:inline-block;	
}

}
@media screen and (max-width:680px){

.btn-menu{
	text-decoration:none;
	color:white;
	font-size:200%;
	display:block;
}	


#navbar{
	display:none;
	height:auto;
}


header{
display: flex;
background-color:#0088b3;
margin: -10px;
height:100px;
text-align:center;
height:100px;
}


nav ul li{
	display:block;
}


.dropdow-content{
	position:relative;
	width:100%;
}

#profilo{display:block;}
#iconaProfilo{	display:none;}


.tabellaProdotti
{
	margin:0px;
	width:100%;
	margin-left:0px;
}


.tabellaProdotti td, .tabellaProdotti th{
margin-left: auto;
margin-right: auto;
}


#carta
{
	width:100%;
	/*margin-right:30px;*/
}

.tabellaProdCarrello
{
	width: 100%;
	margin-left:0;
	margin-right:0;
border-collapse: collapse;

}

.tabellaProdCarrello td, .tabellaProdCarrello th{


display:inline-block;	
}
.tabellaCiao
{
	width: 100%;
	margin-left:0;
	margin-right:0;
border-collapse: collapse;

}

.tabellaProdotti td, .tabellaProdotti th{
margin-top:20px;
margin-left:20%;
margin-right:25%;
display:inline-block;	
}

.bordinoCarrello{
	
	width: 100%;

}
.immagineDesc2{
width:100%;
margin-right:0;
margin-left:0;

}
#modificaAmministratore{width:100%;}
#left{width:100%;margin-top:10px;}
#right{width:100%;margin-top:10px;}
#center{width:100%;margin-top:10px;}


.tabellaRecensioni{
	
		width:100%;
	margin-left:0%;
	margin-right:0%;
}

.tabellaRecensioni td, .tabellaRecensioni th{
	margin-top:200px;
}

.recensioneDiv{
width: 100%;
	
}
}

@media screen and (max-width:520px){
		header{

background-color:#0088b3;
}
.tabellaProdotti{
	width: 100%;
	margin-left:0;
	margin-right:0;
border-collapse: collapse;
	
}
.tabellaProdotti td, .tabellaProdotti th{
	width: 100%;
margin-left:auto;
margin-right:auto;
display:inline-block;	
}
#carta{
	width:80%;
	margin-left: 40px;
	}

.fieldReg
{
	width: 100%;
}

.immagine{
	margin-top:10px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	
}

.tabellaProdCarrello
{
	width: 100%;
	margin-left:0;
	margin-right:0;
border-collapse: collapse;

}

}

