@charset "ISO-8859-1";
@media screen and (max-width:1024px){
	header{
display:flex;
background-color:#0088b3;
}


.tabellaProdotti td, .tabellaProdotti th{
	
	margin-left:12%;
	
border:1px solid #0088b3;
display:inline-block;	
}

}
@media screen and (max-width:680px){

.btn-menu{
	text-decoration:none;
	color:white;
	font-size:200%;
	display:block;
}	


#navbar{
	display:none;
	height:auto;
}


header{
display:flex;
background-color:#0000a0;
width:100%;
height:auto;
}


nav ul li{
	display:block;
}


.dropdow-content{
	position:relative;
	width:100%;
}


.tabellaProdotti td, .tabellaProdotti th{

	margin-left:20%;
	margin-right:25%;
	
border:1px solid #00ff40;
display:inline-block;	
}
.tabellaProdCarrello
{
	width: 100%;
	margin-left:0;
	margin-right:0;
border-collapse: collapse;

}
.tabellaProdCarrello td, .tabellaProdCarrello th{

border:1px solid black;
display:inline-block;	
}
.bordinoCarrello{
	
	width: 100%;

}
.immagineDesc2{
width:100%;
margin-right:0;
margin-left:0;

}
}